.contact,
.contact * {
  box-sizing: border-box;
}
.contact {
  background: #000000;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.annu-bansal {
  color: #fffbfb;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 102px;
  top: 44px;
  width: 475px;
  height: 123px;
}
.group-3 {
  position: absolute;
  inset: 0;
}
.home {
  color: #fffbfb;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 971px;
  top: 24px;
  width: 101px;
  height: 31px;
}
.group-2 {
  width: 116px;
  height: 27px;
  position: static;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 1096px;
  top: 24px;
}
.about {
  color: #fffbfb;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: relative;
  width: 116px;
  height: 27px;
}
.contact2 {
  color: #fffbfb;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 30px;
  font-weight: 400;
  position: absolute;
  left: 1212px;
  top: 24px;
  width: 148px;
  height: 39px;
}
.annu-bansal-university-of-maryland-fall-2025 {
  color: #fffbfb;
  text-align: center;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 384px;
  top: 977px;
  width: 671px;
  height: 47px;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  left: 102px;
  top: 237px;
}
.reach-out-to-the-course-team-for-support-or-inquiries {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 344px;
}
.professor-contact-paul-t-shapiro-pshapiro-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 396px;
}
.ta-contact-abhi-gupta-agupta-09-umd-edu-samiha-meah-smeah-umd-edu-zam-mozumder-zam-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: absolute;
  left: 102px;
  top: 535px;
}
